<!-- Submit OTP Starts Here -->
<div id="submitotp_content" class="submitotp_content ccontent_part">
    <div class="section_header">
        <div class="page_name">OTP Page</div>
    </div>
    <div class="section_title">
        
    </div>
    <div class="section_body">
        <div class="pin_section">
            <form>
                <div class="row custom_pin_width">
                    <div class="col-12 col-md-12 col-lg-12">
                        <div class="">
                            <input type="password" class="form-control" id="pin" aria-describedby="pin" placeholder="Enter OTP">                                                    
                        </div>
                    </div>
                </div>
            </form>                                    
        </div>                            
    </div>
    <div class="section_footer">       
        <button type="button" class="btn btn-primary submitotp pin_submit" (click)="gotoTruckMain()">SUBMIT</button>
        <div class="otc_btn">
            <button type="button" class="btn cprimary_btn generate_otc_btn">Generate OTC</button>
        </div>        
    </div>
</div>   
<!-- Submit OTP Component Ends Here -->