.managerreport_content .section_body
{
    margin-bottom: 40px;
}
.managerreport_content .cinput input
{
    height: 32px;
    margin-right: 12px;
    border: 0px;
    border-radius: 4px;
    padding: 0px 16px;
}
.managerreport_content .cinput input
{
    // width: 46%;
    float: left;
    padding: 8px;
}
.managerreport_content .cli_box
{
    height: 70px;
}
.managerreport_content .cinput select
{
    width: 97%;
}
.managerreport_content .section_footer
{
    background-color: #2c3051;
    left: 0px;
    padding: 0px 60px;
    width: 100%;
    text-align:center;
}
.managerreport_content input.custom_Itime
{
    width:28%;
}
.managerreport_content input.custom_Idate
{
    width:66%;
    float:left;
}
.managerreport_content .section_footer
{
    bottom:100px;
}