<!-- Employee Maintenance Component Starts Here-->
<div id="employeemaintenance_content" class="employeemaintenance_content ccontent_part">
    
    <div class="section_header">
        <div class="page_name">Employee Maintenance</div>
    </div>
    <div class="section_title">
        
    </div>
    <div class="section_body">
        <div class="row height100">
            <div class="col-12 col-md-12 col-lg-12 pad12">            
                <div class="">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label txt_white" for="flexRadioDefault1">
                            Delete employee within 30 days
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label txt_white" for="flexRadioDefault2">
                            Delete employee within 60 days
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                        <label class="form-check-label txt_white" for="flexRadioDefault3">
                            Delete employee within 90 days
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
                        <label class="form-check-label txt_white" for="flexRadioDefault4">
                            Delete employee never
                        </label>
                    </div>
                </div>
            </div>        
        </div>                             
    </div>
    <div class="section_footer">
        <button type="button" class="btn csecondary_btn">SUBMIT</button>
    </div>
</div>
<!-- Employee Maintenance Component Ends Here-->